In [5]:
import sys
import os

project_root = os.path.abspath("..")
if project_root not in sys.path:
    sys.path.append(project_root)

print(sys.path)

from src.retrieval import TfidfRetriever
retriever = TfidfRetriever("../chunks.csv")
retriever.retrieve("What does the company do?")

['/opt/anaconda3/lib/python313.zip', '/opt/anaconda3/lib/python3.13', '/opt/anaconda3/lib/python3.13/lib-dynload', '', '/opt/anaconda3/lib/python3.13/site-packages', '/opt/anaconda3/lib/python3.13/site-packages/aeosa', '/Users/giselauribe/Downloads/DSDA Case Study 2']

,chunk_id,source_file,page_start,page_end,score,chunk_text
58,chunk_58,Mastercard Inc files (10-K) Basic annual filin...,72,72,0.134264,PART II ITEM 8. FINANCIAL STATEMENTS AND SUPPL...
62,chunk_62,Mastercard Inc files (10-K) Basic annual filin...,76,76,0.100149,PART II ITEM 8. FINANCIAL STATEMENTS AND SUPPL...
88,chunk_88,Mastercard Inc files (10-K) Basic annual filin...,105,105,0.096393,PART II ITEM 8. FINANCIAL STATEMENTS AND SUPPL...
93,chunk_93,Mastercard Inc files (10-K) Basic annual filin...,116,116,0.082481,Exhibit number Exhibit Description 3.1 Amended...
107,chunk_107,Mastercard Inc files (10-K) Basic annual filin...,136,136,0.080743,were scheduled to be paid after 2007. A Transi...

In [ ]:
retriever.retrieve("What were their most recent revenues?")

In [ ]:
retriever.retrieve("What are the company's sustainability goals?")

In [ ]:
retriever.retrieve("What risks does the company face?")

In [6]:
questions = [
    "What is the company's main business?",
    "How many segments does the company operate?",
    "What are the financial highlights?",
    "What risks do they mention?",
    "What ESG commitments did they make?"
]

for q in questions:
    print("QUESTION:", q)
    display(retriever.retrieve(q).head(3))
    print("\n" + "="*60 + "\n")

QUESTION: What is the company's main business?

,chunk_id,source_file,page_start,page_end,score,chunk_text
98,chunk_98,Mastercard Inc files (10-K) Basic annual filin...,124,124,0.073753,Company or the purchase of assets or stock of ...
58,chunk_58,Mastercard Inc files (10-K) Basic annual filin...,72,72,0.071119,PART II ITEM 8. FINANCIAL STATEMENTS AND SUPPL...
28,chunk_28,Mastercard Inc files (10-K) Basic annual filin...,33,33,0.059229,PART I ITEM 1A. RISK FACTORS that our existing...

============================================================

QUESTION: How many segments does the company operate?

,chunk_id,source_file,page_start,page_end,score,chunk_text
58,chunk_58,Mastercard Inc files (10-K) Basic annual filin...,72,72,0.065654,PART II ITEM 8. FINANCIAL STATEMENTS AND SUPPL...
62,chunk_62,Mastercard Inc files (10-K) Basic annual filin...,76,76,0.048972,PART II ITEM 8. FINANCIAL STATEMENTS AND SUPPL...
88,chunk_88,Mastercard Inc files (10-K) Basic annual filin...,105,105,0.047135,PART II ITEM 8. FINANCIAL STATEMENTS AND SUPPL...

============================================================

QUESTION: What are the financial highlights?

,chunk_id,source_file,page_start,page_end,score,chunk_text
39,chunk_39,Mastercard Inc files (10-K) Basic annual filin...,48,48,0.061306,PART II ITEM 7. MANAGEMENT’S DISCUSSION AND AN...
2,chunk_2,Mastercard Inc files (10-K) Basic annual filin...,5,7,0.037868,PART I Item 1. Business Item 1A. Risk factors ...
20,chunk_20,Mastercard Inc files (10-K) Basic annual filin...,25,25,0.029423,PART I ITEM 1A. RISK FACTORS Item 1A. Risk fac...

============================================================

QUESTION: What risks do they mention?

,chunk_id,source_file,page_start,page_end,score,chunk_text
35,chunk_35,Mastercard Inc files (10-K) Basic annual filin...,40,40,0.178792,PART I ITEM 1C. CYBERSECURITY •Board: Understa...
26,chunk_26,Mastercard Inc files (10-K) Basic annual filin...,31,31,0.101452,PART I ITEM 1A. RISK FACTORS patent infringeme...
29,chunk_29,Mastercard Inc files (10-K) Basic annual filin...,34,34,0.053894,PART I ITEM 1A. RISK FACTORS bargaining power ...

============================================================

QUESTION: What ESG commitments did they make?

,chunk_id,source_file,page_start,page_end,score,chunk_text
48,chunk_48,Mastercard Inc files (10-K) Basic annual filin...,57,57,0.034438,PART II ITEM 7. MANAGEMENT’S DISCUSSION AND AN...
107,chunk_107,Mastercard Inc files (10-K) Basic annual filin...,136,136,0.031700,were scheduled to be paid after 2007. A Transi...
53,chunk_53,Mastercard Inc files (10-K) Basic annual filin...,63,63,0.025674,PART II ITEM 8. FINANCIAL STATEMENTS AND SUPPL...

============================================================